<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${aspnet-appbasepath}\logs\internal-nlog.txt"
      throwConfigExceptions="true">

	<!-- enable ASP.NET Core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<variable name="LogDir" value="${specialfolder:folder=CommonApplicationData:cached=true}/SabUI/Logs"/>
	<variable name="LogDay" value="${date:format=yyyy-MM-dd}"/>
	<targets>
		<!-- Main file target -->
		<target xsi:type="File"
				name="allFile"
				fileName="${LogDir}\sab-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}">
		</target>
		<!-- write trace log-->
		<target xsi:type="File"
				name="traceFile" fileName="${LogDir}/sabui-trace-${LogDay}.log"
				maxArchiveFiles="5" archiveNumbering="DateAndSequence" archiveAboveSize="5048576"
				archiveFileName="${LogDir}/sabui-trace-{#######}.a"   
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}">
		</target>
		
		<target xsi:type="File"
				name="infoFile" fileName="${LogDir}/sabui-info-${LogDay}.log"
				maxArchiveFiles="5" archiveNumbering="DateAndSequence" archiveAboveSize="5048576"
				archiveFileName="${LogDir}/sabui-info-{#######}.a"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}">
		</target>
		
		<!-- write Error log-->
		<target xsi:type="File" 
				name="errorFile" fileName="${LogDir}/sabui-errors-${LogDay}.log"            
				maxArchiveFiles="5" archiveNumbering="DateAndSequence" archiveAboveSize="5048576"
				archiveFileName="${LogDir}/sabui-errors-{#######}.a"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}">
		</target>
	</targets>
  <rules>
    <!-- Skip noisy Microsoft/System logs if you want -->
    <logger name="Microsoft.*" minlevel="Info" writeTo="allFile" final="true" />
    <logger name="System.*"     minlevel="Info" writeTo="allFile" final="true" />

    <!-- All your app logs -->
    <logger name="*" level="Debug" writeTo="traceFile" />
    <logger name="*" level="Trace" writeTo="traceFile" />
    <logger name="*" minlevel="Error" writeTo="errorFile" />
    <logger name="*" minlevel="Warn" writeTo="errorFile" />
    <logger name="*" level="Info" writeTo="infoFile" final="true"/>	
  </rules>
</nlog>