<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${aspnet-appbasepath}\logs\internal-nlog.txt"
      throwConfigExceptions="true">

  <!-- enable ASP.NET Core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets>
    <!-- Main file target -->
    <target xsi:type="File"
            name="allFile"
            fileName="${aspnet-appbasepath}\logs\sab-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />
  </targets>

  <rules>
    <!-- Skip noisy Microsoft/System logs if you want -->
    <logger name="Microsoft.*" minlevel="Info" writeTo="allFile" final="true" />
    <logger name="System.*"     minlevel="Info" writeTo="allFile" final="true" />

    <!-- All your app logs -->
    <logger name="*" minlevel="Debug" writeTo="allFile" />
  </rules>
</nlog>